.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
}

.nav-item{
    font-weight: 700;
    text-transform: uppercase;
}
.user-email{
    text-transform: lowercase; 
}


/* style={{backgroundImage: `url(${bgImage})`, backgroundSize: "cover", minHeight: "100vh", backgroundPosition: "center", backgroundAttachment: "fixed"}} */